#test input {
    center-block();
}
#test td {
    vertical-align: middle;
    text-align: center;
    width: 65%;
}

div.lesson {
    padding: 20px;
    border-radius: 10px;
}

div.lesson:hover {
    background-color: rgba(138, 247, 123, 0.12);
}

.animated {
    transition-property: background-color;
    transition-duration: 1s;
}

#last-even {
    width: 40px;
    display: inline-block;
}

#even-numbers {
    width: 200px;
    display: inline-block;
}



